<a href="https://discord.lore-league.com" class="text-yellow-400 hover:text-yellow-300">
  <%= image_tag "Discord-Symbol-Blurple.svg", width: "24", class: "inline-block ml-1" %>
  Discord server
</a>
