<%# This is the home page %>

<header class="flex justify-between items-center-safe w-screen bg-gray-900 text-yellow-400">
  <div class="flex-none align-middle"><%= image_tag "lore-league-logo.png", width: "400" %></div>
  <h1 class="flex-auto justify-self-end-safe align-middle ml-4 text-5xl text-yellow-400 font-bold mt-8">Welcome to Lore League!</h1>
</header>

<section class="container my-8">
  <p class="text-xl my-8">
    Lore League is an inclusive gaming community playing various table-top RPG systems using a
    <a href="#west-marches" class="text-yellow-400 hover:text-yellow-300">"West Marches"</a>
    style system, exclusively at
    <a href="https://gigabites.cafe" target="_blank" class="text-yellow-400 hover:text-yellow-300">Gigabites Cafe</a>
    in Marietta, GA, every Tuesday night starting at 6 PM (Eastern)
  </p>
  <p class="text-lg mt-4">
    We have our own
    <a href="https://discord.lore-league.com" class="text-yellow-400 hover:text-yellow-300">
      <%= image_tag "Discord-Symbol-Blurple.svg", width: "24", class: "inline-block ml-1" %>
      Discord server
    </a>
    where we discuss all things Lore League, so join us there for more information!
  </p>
</section>

<section class="container my-8">
  <h2 class="text-3xl font-bold mb-4">Location</h2>
  <p class="text-lg">
    As mentioned above, we meet in person every Tuesday at 6 PM at
    <a href="https://gigabites.cafe" target="_blank" class="text-yellow-400 hover:text-yellow-300">Gigabites Cafe</a>,
    located at
    <a href="https://maps.app.goo.gl/hvNT9KK8ah5gy4rJ7" target="_blank" class="text-yellow-400 hover:text-yellow-300">
      1851 Roswell Road, Marietta, GA, 30062
    </a>
    Where we have multiple tables reserved for our use, ensuring sufficient space for those interested.
    However, we <em>encourage everyone</em> to sign up for a
    <a href="https://www.westmarches.games/communities/lore-league/sessions" target="_blank" class="text-yellow-400 hover:text-yellow-300">session</a>
    in advance to secure a spot at one of our tables. Signups have reserved seating until 6:15; after that,
    any remaining seats will be available on a first-come, first-served basis.
    If you don't wish to sign up in advance, please arrive early.
  </p>
  <p class="text-lg italic mt-4">
    However, please note that in order to sign up for a session, you will first need to join our
    <a href="https://discord.lore-league.com" class="text-yellow-400 hover:text-yellow-300">
      <%= image_tag "Discord-Symbol-Blurple.svg", width: "24", class: "inline-block ml-1" %>
      Discord server
    </a>
    and assign yourself the Adventurer role.
  </p>
</section>

<section class="container my-8">
  <h2 class="text-3xl font-bold mb-4">Game Systems</h2>
  <p class="text-lg">
    Our current focus is on
    <a href="https://daggerheart.com" target="_blank" class="text-yellow-400 hover:text-yellow-300">Daggerheart</a>
    and all tables will be running this ruleset this season.
  </p>
  <p class="text-lg">
    However, we're happy to explore additional systems in the future, so keep an eye on this page or visit our
    <a href="https://discord.lore-league.com" class="text-yellow-400 hover:text-yellow-300">
      <%= image_tag "Discord-Symbol-Blurple.svg", width: "24", class: "inline-block ml-1" %>
      Discord server
    </a>
    for further information.
  </p>
</section>

<section class="container my-8">
  <h2 class="text-3xl font-bold mb-4">Style of Play</h2>
  <p class="text-lg">
    We're embracing the whole "table-driven narrative" aspect of Daggerheart. As such, all of our GMs will be running sessions
    based on improvisation and prompts at the table. As a player, don't be surprised if your GM asks *you* to name that random
    merchant you just met, or describe what you might have found in the chest you opened!
  </p>
</section>

<section id="west-marches" class="container my-8">
  <h2 class="text-3xl font-bold mb-4">West Marches</h2>
  <p class="text-lg">
    What are the West Marches? We're glad you asked!
    Essentially, a "West Marches" campaign is a community-driven, collaborative storytelling mechanic for RPG games with multiple
    GMs and tables. Each session is a one-shot that adds to the collective fiction, lore, and legends of our shared world,
    "The Gi'Gabi Coast." Players may freely choose which sessions they will participate in, without losing out on any of the "story".
  </p>
</section>

<!--
# Lore League at Gigabites!

Welcome to the [Gigabites Cafe](https://gigabites.cafe "Gigabites Cafe") Lore League community page!

We're an inclusive gaming community playing Daggerheart using the "West Marches" system, exclusively at [Gigabites Cafe](https://gigabites.cafe) in Marietta, GA, every Tuesday night starting at 6 PM (Eastern)

We have our own [Discord ](https://discord.lore-league.com "Lore League Discord")server where we discuss all things Lore League, so join us there for more information.

As mentioned above, we meet in person every Tuesday at 6 PM at [Gigabites Cafe](https://gigabites.cafe "Gigabites Cafe"), located at [1851 Roswell Road, Marietta, GA, 30062](https://maps.app.goo.gl/hvNT9KK8ah5gy4rJ7)

We have multiple tables reserved for our use, ensuring sufficient space for those interested. However, we **encourage everyone to sign up for a** [session](https://www.westmarches.games/communities/lore-league/sessions) **in advance** to secure a spot at one of our tables. Signups have reserved seating until 6:15; after that, any remaining seats will be available on a first-come, first-served basis. If you don't wish to sign up in advance, please arrive early.

### Game Systems

Our current focus is on [Daggerheart](https://daggerheart.com), and all tables will be running this ruleset this season. However, we're happy to explore additional systems in the future, so keep an eye on this page or visit our [Discord ](https://discord.lore-league.com "Lore League Discord") for further information.

### Style of Play

We're embracing the whole "table-driven narrative" aspect of Daggerheart. As such, all of our GMs will be running sessions based on improvisation and prompts at the table. As a player, don't be surprised if your GM asks *you* to name that random merchant you just met, or describe what you might have found in the chest you opened!

At the beginning of each session, the GMs will provide a sample of the submissions from the Adventurer's Guild "Help Wanted" board. These small "hooks" offer a simple, yet provocative springboard for that night's adventure!

### West Marches

What are the West Marches? We're glad you asked!

Essentially, a "West Marches" campaign is a community-driven, collaborative storytelling mechanic for RPG games with multiple GMs and tables. Each session is a one-shot that adds to the collective fiction, lore, and legends of our shared world, "The Gi'Gabi Coast." Players may freely choose which sessions they will participate in, without losing out on any of the "story".
</p>
</div>
</div>

-->
